<!DOCTYPE HTML>
<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <meta charset="UTF-8">
      <meta name="description" content="Proejkt RAIM/HIED">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="Kajetan Kubicz, Agnieszka Blok, Renata Bańka">
  <title>Projekt RAIM/HIED_Test</title>
  </head>  
  <body>
    <header class="title">
	   <h1>How <span class="color-title">fast</span> are you?</h1>
	  </header>

	  <h1>Check yourself!</h1>

    <div class="wrapper">
        <h2>First of all, thank you for taking a few minutes to complete our survey </h2>
        <h2 class="survey-text"> This survey aims to gather information on how individuals assess their speed and react to visual stimuli. By participating in this survey, you will help us to better understand these cognitive processes and potentially contribute to the development of new tools and strategies to improve them. Thank you for taking the time to participate in our survey.</h2>

        <section class="instructions">
          <h2>Instructions</h2>
          <ol>
            <li>Find a quiet, well-lit area to take the test.</li>
            <li>Test should last at most 10 minutes.</li>
            <li>Click the "Arrow" below to begin the test.</li>
          </ol>
        </section>
    
        <section class="about-us">
          <h2>About Us</h2>
          <h2>We are a team of students at the Gdansk University of Technology, studying biomedical engineering.</h2>
        </section>
    
    </div>

    <a href="/1">
      <div class="pic">
        <div class="button"></div>
      </div>
    </a>
  
    
  </body>
</html>